@charset "utf-8";
.btn-area {
  background-color: yellow;
}

.btn-prev,
.btn-next {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 0;
  padding-top: 20px;
  overflow: hidden;
  background: pink url("images/backpage_forwardpage.png") no-repeat;
}

.btn-next {
  background-position: -40px 0;
}